.favorite{
    text-align: center;
    padding: 10px 40px;
    h2{
        font-size: 30px;
    }
    &-card{
        display: flex;
        justify-content: center;
        div{
            display: flex;
        }
        img{
            width: 200px;
            
            
        }
    }

    &-article{
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.2);
        }
    }
}

@media screen and (max-width:850px){
    .favorite{
        &-card{
            div{
                flex-direction: column;
            }
        }
    }
}